body{
  background-color: rgb(153, 76, 76);
}

.hero {
  display: flex;
  align-items: center;
}

.subHero {
  flex: 1;
  margin-left: 20%;
}

.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 20%;
}

.chakra-image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.title{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleTwo{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 40%;
}

.subTitle{
  font-size: 30px;
  font-family:fantasy;
}

.image-grid{
  
}